*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.espacio-wrapper{
    width: 100vw;
    border:3px;
    height: 50vh;
    margin-bottom: 10px;
    padding: 10px;
}
.card{
    width: 320px;
    height: 470px;
    border: solid black;
    border-radius: 1rem;
    padding: 2rem;
}
.card-pink{
        width: 320px;
        height: 470px;
        border: solid #E2306C;
        border-radius: 1rem;
        background-color: #E2306C;
        padding: 2rem;
        color:white
}
.card img{
    width: 60px;
    height: 60px;
}
.card-pink img{
    width: 60px;
    height: 60px;
}
.d-flex{
    display:flex;
}
.space-evenly{
    justify-content: space-evenly;
}
.flex-end{
    align-items: flex-end;
}
   
.d-grid{
    display: grid;
}

.flex-start{
    align-items: flex-start;
}
.space-around{
    justify-content: space-around;

}
.align-center{
    align-items: center;
}
.stretch{
    align-items: stretch

}
.flex.direction{
    flex-direction: column;
}
.align-center{
    align-items: center;
}

.row{
    flex-direction: row;
}
.justify-center{
justify-content: center;
}
.text-align{
    text-align: center;
}
.button{
    background-color: black;
    border-radius: 2rem;
    width: 15rem;
    height: 3rem;
    color: white;
    border: none
}
.button-white{
    background-colo: white;
    border-radius: 2rem;
    width: 15rem;
    height: 3rem;
    color: #E2306C;
    border:none
}
